{% load i18n %}
{% load static %}

<style>
    .link-button {
        color: #403F41;
        border-color: #E6007C;
    }

    #feedback_form input[data-toggle]:checked + label, #feedback_form input[data-toggle]:checked + label:active {
        background-color: #E6007C;
        border-color: #E6007C;
    }
</style>

<div>
    <form id="feedback_form" method="post" action="{% url 'feedback_form_view' %}">
        {% csrf_token %}
        {{ feedback_form.token }}
        {{ feedback_form.source_url }}
        <h5>
            <span aria-hidden="true">🔎</span>
            {% trans "Did you find what you were looking for?" %}
        </h5>
        <div id="feedback_choices_container">
            {% for choice in feedback_form.found_useful %}
                {{ choice.tag }}
                <label class="link-button" for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
            {% endfor %}
        </div>

        <h5>
            <span aria-hidden="true">🗳️</span>
            {% trans "Has this service changed your likelihood of voting?" %}
        </h5>
        <div id="voting_choices_container">
            {% for choice in feedback_form.vote %}
                {{ choice.tag }}
                <label class="link-button" for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
            {% endfor %}
        </div>

        <div id="comments" class="ds-field">
            <label
                for="{{ feedback_form.comments.id_for_label }}"
                data-problem-label="{% trans "Please describe the problem you encountered" %}"
                data-feedback-label="{% trans "Can you tell us anything more?" %}"
            >

            </label>
            {{ feedback_form.comments }}
        </div>
        <div id="report_a_problem_text" class="ds-field">
            <label for="{{ feedback_form.email.id_for_label }}">
                {% trans "(Optional) Email address" %}:
            </label>
            {{ feedback_form.email }}
            {% if feedback_form.email.errors %}
                <small class="ds-field-error">
                    {% for error in feedback_form.email.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
            {% endif %}
            <p><small>{% blocktrans trimmed %}If you provide an email address, we may contact you to request more
                information or notify you of improvements related to this report. It will not be used for email
                marketing purposes.{% endblocktrans %}</small></p>

        </div>
        <button type="submit" class="ds-button-pink">{% trans "Send feedback" %}</button>
    </form>
</div>

{% block in_page_javascript %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const feedbackForm = document.getElementById('feedback_form');
            const problemForm = document.getElementById('report_a_problem_text');
            const comments = document.getElementById('comments');
            const feedbackChoicesContainer = document.getElementById('feedback_choices_container');
            const votingChoicesContainer = document.getElementById('voting_choices_container');
            const allInputs = feedbackForm.querySelectorAll('input');
            const feedbackLabels = feedbackChoicesContainer.querySelectorAll('.link-button');

            // Initially set up the form based on existing input states
            updateFormState();

            // Add event listeners to feedback option labels
            allInputs.forEach(input => {
                input.addEventListener('click', function () {
                    // Refresh form state whenever a new choice is made
                    updateFormState();
                });
            });

            function updateFormState() {
                let problemSelected = false;

                // Check if any "problem" input is initially checked or gets checked on click
                feedbackLabels.forEach(label => {
                    if (label.control.checked && label.control.value === 'PROBLEM') {
                        problemSelected = true;
                    }
                });

                problemForm.hidden = !problemSelected;
                votingChoicesContainer.hidden = problemSelected;
                comments.hidden = false;

                // Set the comments label based on the problem selection
                const commentsLabel = comments.querySelector("label");
                commentsLabel.textContent = problemSelected ? commentsLabel.dataset.problemLabel : commentsLabel.dataset.feedbackLabel;

                // Handle the toggling of voting section and reset votes if needed
                toggleVotingSection(votingChoicesContainer, problemSelected);
                if (problemSelected) resetVotes();
            }

            function toggleVotingSection(container, hide) {
                const question = container.previousElementSibling;
                container.hidden = hide;
                question.hidden = hide;
                container.querySelectorAll('input').forEach(input => input.hidden = hide);
            }

            function resetVotes() {
                votingChoicesContainer.querySelectorAll('input').forEach(input => {
                    input.checked = false;
                });
            }
        });
    </script>

{% endblock in_page_javascript %}
