{% load i18n %}

<div class="ds-card">
    <form id="feedback_form" method="post" action="{% url 'feedback_form_view' %}" novalidate>
        {% csrf_token %}
        {{ feedback_form.token }}
        {{ feedback_form.source_url }}
        <h5>
            <span aria-hidden="true">🔎</span>
            {% trans "Did you find what you were looking for?" %}
        </h5>
        {% for choice in feedback_form.found_useful %}
            {{ choice.tag }}
            <label class="link-button" for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
        {% endfor %}

        <h5>
            <span aria-hidden="true">🗳️</span>
            {% trans "Has this information made you more likely to vote?" %}
        </h5>
        {% for choice in feedback_form.vote %}
            {{ choice.tag }}
            <label class="link-button" for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
        {% endfor %}

        <div>
            <p>{% trans "What other websites/sources have you used to research the election?" %}</p>
            {{ feedback_form.sources }}
        </div>

        <div>
            <p>{% trans "Can you tell us anything more?" %}</p>
            {{ feedback_form.comments }}
        </div>
        <button type="submit" class="ds-button-pink">{% trans "Send feedback" %}</button>
    </form>
</div>

{% block in_page_javascript %}
    <script type="text/javascript">

        var feedback_form = document.forms[1]
        var feedback_form_token = feedback_form.elements[1].value
        var csrfmiddlewaretoken = feedback_form.elements[0].value
        document.querySelector('[name=found_useful]').click(function(el) {
            var found_useful = document.querySelector(this).value;
            fetch('/feedback/submit_initial/', {
                method: "POST",
                body: JSON.stringify(data),
                found_useful: found_useful,
                token: feedback_form_token,
                csrfmiddlewaretoken: csrfmiddlewaretoken,
                source_url: window.location.pathname
            }).then(res => {
                console.log(body);
            });
        });


        var found_useful = feedback_form.elements[3].value
        var comments = feedback_form.elements[8]

        if (found_useful.value = undefined) {
            comments.style.display = 'none'
            found_useful.click(function() {
                comments.style.display = ''
            })
        }
    </script>
{% endblock in_page_javascript %}

