interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://developers.democracyclub.org.uk/api/v1/postcode/E3%202NX/
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: ['/api/v1/postcode/E3%202NX/']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://developers.democracyclub.org.uk/api/v1/postcode/E3%202NX/
  response:
    body: { string: '{
      "address_picker": false,
      "addresses": [],
      "dates": [{
          "date": "2018-05-03",
          "polling_station": {
              "polling_station_known": false
          },
          "ballots": [{
                  "ballot_paper_id": "local.tower-hamlets.bow-east.2018-05-03"
              },
              {
                  "ballot_paper_id": "mayor.tower-hamlets.2018-05-03"
              }
          ]
      }],
      "electoral_services": {
          "council_id": "TWH",
          "name": "London Borough of Tower Hamlets",
          "email": "vote@towerhamlets.gov.uk",
          "phone": "01234 567890",
          "website": "http://www.towerhamlets.gov.uk/",
          "postcode": "E1 1BJ",
          "address": "Electoral Services\nTower Hamlets Town Hall\n160 Whitechapel Road\nStroud",
          "identifiers": [
              "E09000030"
          ],
          "nation": "England"
      },
      "registration": {
          "council_id": "TWH",
          "name": "London Borough of Tower Hamlets",
          "email": "vote@towerhamlets.gov.uk",
          "phone": "01234 567890",
          "website": "http://www.towerhamlets.gov.uk/",
          "postcode": "E1 1BJ",
          "address": "Electoral Services\nTower Hamlets Town Hall\n160 Whitechapel Road\nStroud",
          "identifiers": [
              "E09000030"
          ],
          "nation": "England"
      },
      "postcode_location": {
          "type": "Feature",
          "properties": null,
          "geometry": {
              "type": "Point",
              "coordinates": [
                  -2.20260988,
                  51.74391142000001
              ]
          }
      }
  }' }
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
