interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://developers.democracyclub.org.uk/api/v1/address/10003417754/?include_current=1
  response:
    body:
      string: '{"address_picker":false,"addresses":[],"dates":[{"date":"2024-05-02","polling_station":{"polling_station_known":false,"custom_finder":null,"report_problem_url":null,"station":null},"advance_voting_station":null,"notifications":[],"ballots":[{"ballot_paper_id":"pcc.west-mercia.2024-05-02","ballot_title":"Police
        and Crime Commissioner for West Mercia","poll_open_date":"2024-05-02","elected_role":"Police
        and Crime Commissioner","metadata":null,"cancelled":false,"cancellation_reason":null,"replaced_by":null,"replaces":null,"requires_voter_id":null,"ballot_url":"https://developers.democracyclub.org.uk/api/v1/elections/pcc.west-mercia.2024-05-02/","election_id":"pcc.west-mercia.2024-05-02","election_name":"Police
        and Crime Commissioner for West Mercia","post_name":"West Mercia Police","candidates_verified":false,"candidates":[],"wcivf_url":"http://whocanivotefor.co.uk/elections/pcc.west-mercia.2024-05-02/west-mercia-police/","voting_system":{"slug":"FPTP","name":"First-past-the-post"},"seats_contested":1,"hustings":null}]}],"electoral_services":{"council_id":"SHR","name":"Shropshire
        Council","email":"elections@shropshire.gov.uk","phone":"0345 678 9015","website":"http://www.shropshire.gov.uk/","postcode":"SY2
        6ND","address":"Electoral Registration Officer\nShirehall\nAbbey Foregate\nShrewsbury","identifiers":["E06000051"],"nation":"England"},"registration":{"council_id":"SHR","name":"Shropshire
        Council","email":"elections@shropshire.gov.uk","phone":"0345 678 9015","website":"http://www.shropshire.gov.uk/","postcode":"SY2
        6ND","address":"Electoral Registration Officer\nShirehall\nAbbey Foregate\nShrewsbury","identifiers":["E06000051"],"nation":"England"},"postcode_location":{"type":"Feature","properties":null,"geometry":{"type":"Point","coordinates":[-2.326615276923077,52.49552346923076]}},"parl_boundary_changes":{"current_constituencies_official_identifier":"gss:E14000799","current_constituencies_name":"Ludlow","new_constituencies_official_identifier":"gss:E14001493","new_constituencies_name":"South
        Shropshire","CHANGE_TYPE":"NAME_CHANGE_BOUNDARY_CHANGE"}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TCBMBEkuLPEEHnA=
      x-amzn-Remapped-content-length:
      - '2086'
      x-amzn-RequestId:
      - 192909e5-b28c-4783-92bf-4e95fbd3441c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://developers.democracyclub.org.uk/api/v1/address/10003417754/?auth_token=eaf0ff4132934ed0b7f5af0bc906cd186083f196&include_current=1
  response:
    body:
      string: '{"address_picker":false,"addresses":[],"dates":[{"date":"2024-05-02","polling_station":{"polling_station_known":false,"custom_finder":null,"report_problem_url":null,"station":null},"advance_voting_station":null,"notifications":[],"ballots":[{"ballot_paper_id":"[...]
