{% load humanize %}
{% load i18n %}

<li>
    <details>
        <summary>
            <h2 id="calendar">
                <span aria-hidden="true"></span>
                {% blocktrans trimmed %}Add future elections in {{ postcode }} to your calendar{% endblocktrans %}
            </h2>
        </summary>
        <p>
            <p>{% trans "Manually subscribe by following these simple steps for your chosen calendar tool:" %}</p>
            <ol>
                <li>
                    {% trans "In your calendar app settings, choose the option for adding a new calendar." %}
                </li>
                <li>
                    {% trans "If presented with the option to choose a calendar type, choose web calendar." %}
                </li>
                <li>
                    {% if uprn %}
                        {% trans 'Enter this URL and save' %}: <code>webcal://whocanivotefor.co.uk{% url 'uprn_ical_view' postcode uprn %}</code>
                    {% else %}
                        {% trans 'Enter this URL and save' %}: <code>webcal://whocanivotefor.co.uk{% url 'postcode_ical_view' postcode %}</code>
                    {% endif %}
                </li>
            </ol>
        </p>
    </details>
</li>
