{% load markdown_filter %}
{% load humanize %}
{% load static %}
{% load i18n %}

{% if object.cancellation_reason %}
    {% if object.cancellation_reason == "EQUAL_CANDIDATES" %}
        <h4>{% trans "Uncontested Election" %}</h4>
        <p>
            {% blocktrans trimmed with is_or_are=object.winner_count|pluralize:"is,are" winner_count=object.winner_count|apnumber post=object.post.full_label num_people=object.people.count|apnumber pluralise_candidates=object.people|pluralize pluralise_seat=object.winner_count|pluralize %}
                This election was cancelled because the number of candidates who stood was equal to the number of available seats.
                There {{ is_or_are }} {{ winner_count }} seat{{ pluralise_seat }} in {{ post }}, and only {{ num_people }} candidate{{ pluralise_candidates }}.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed with pluralise_candidates=object.people|pluralize has_or_have=object.winner_count|pluralize:"s,ve" %}
                No votes will be cast, and the candidate{{ pluralise_candidates }} below ha{{ has_or_have }} been automatically declared
                the winner{{ pluralise_candidates }}.
            {% endblocktrans %}
        </p>
    {% elif object.cancellation_reason == "UNDER_CONTESTED" %}
        <h4>{% trans "Uncontested and Rescheduled Election" %}</h4>
        <p>
            {% blocktrans trimmed with winner_count=object.winner_count|apnumber post_label=object.post.full_label num_people=object.people.count|apnumber count counter=object.people.count %}
                This election was cancelled because the number of candidates who stood was fewer than the number of available seats.
                There is {{ winner_count }} seat in {{ post_label }}, and {{ num_people }} candidate.
            {% plural %}
                This election was cancelled because the number of candidates who stood was fewer than the number of available seats.
                There are {{ winner_count }} seats in {{ post_label }}, and {{ num_people }} candidates.
            {% endblocktrans %}
            {% blocktrans trimmed with has_or_have=object.people|pluralize:"s,ve" plural=object.people|pluralize %}
                No votes will be cast, and the candidate{{ plural }} below
                ha{{ has_or_have }} been automatically declared the
                winner{{ plural }}.

                A new election to fill the unclaimed seat{{ plural }}
                will be held within 35 working days of the original election date.
            {% endblocktrans %}
        </p>
    {% elif object.cancellation_reason == "NO_CANDIDATES" %}
        <h4>{% trans "Uncontested and Rescheduled Election" %}</h4>
        <p>{% blocktrans %}This election was cancelled because no candidates stood for the available seats. A new election to fill the unclaimed seat{{ plural }} will be held within 35 working days of the original election date.{% endblocktrans %}</p>
    {% elif object.cancellation_reason == "CANDIDATE_DEATH" %}
        <h4>{% trans "Cancelled and Rescheduled Election" %}</h4>
        <p>{% blocktrans %}This election was cancelled due to the death of a candidate. A new election to fill the unclaimed seat{{ plural }} will be held within 35 working days of the original election date.{% endblocktrans %}</p>
    {% endif %}
{% else %}
    {% if object.metadata.cancelled_election %}
        <h4>{{ object.metadata.cancelled_election.title }}</h4>
        <p>{{ object.metadata.cancelled_election.detail }}</p>
    {% else %}
        <h4>{% trans "Cancelled Election" %}</h4>
        <p>{% trans "This election was cancelled." %}</p>
    {% endif %}

{% endif %}

<p>
    {% if object.replaced_by %}
        {% if object.election.in_past %}
            {% trans "It was rescheduled for" %}
        {% else %}
            {% trans "It will now take place on" %}
        {% endif %}
        <a href="{{ object.replaced_by.get_absolute_url }}">
            {{ object.replaced_by.election.election_date|date:"j F Y"  }}.
        </a>
    {% endif %}

    {% if object.metadata.cancelled_election.url %}
        <a href="{{ object.metadata.cancelled_election.url }}">{% trans "Read more" %}</a>
    {% endif %}
</p>
