{% load markdown_filter %}
{% load humanize %}
{% load static %}
{% load i18n %}

<li>
    <details>
        <summary>
            <h2 id="requirements">
                <span aria-hidden="true"></span>️
                {% trans "You will need to take photo ID to vote at a polling station in this election" %}
            </h2>
        </summary>
        <p>
            {% blocktrans trimmed %}You do not need your poll card to vote. You must vote at your assigned polling station.
                <ul>
                    <li>Read more about <a href="https://www.gov.uk/voting-in-the-uk/polling-stations">voting in Great Britain</a>.</li>
                    <li>Read more about <a href="https://www.gov.uk/how-to-vote/photo-id-youll-need">photo ID</a>.</li>
                </ul>
            {% endblocktrans %}
        </p>
    </details>
</li>
