{% load humanize %}
{% load i18n static %}

<section class="ds-candidate">
    <div class="ds-candidate-body ds-stack-smaller">
        <h2 class="ds-candidate-name ds-h3">
            {{ object.name }}
        </h2>
        {% comment %}
        If there is more than candidacy, only list the future elections. 
        Past elections will appear in the table below. 
        {% endcomment %}
        {% if object.future_candidacies.all.count > 1 %}
            <h5>{{ object.name }}
                {% blocktrans trimmed with party_name=object.future_candidacies.0.party_name a_or_an=object.future_candidacies.0.party.is_independent|yesno:_("an,a") party_link=object.future_candidacies.0.party.get_absolute_url %}
                    is {{ a_or_an }} <a href="{{ party_link }}">{{ party_name }}</a> candidate in the following elections:
                {% endblocktrans %}
            </h5>

            {% for candidacy in object.future_candidacies %}
                <ul>
                    <li>
                        {% blocktrans trimmed with election=candidacy.election.name %}{{ election }} for{% endblocktrans %}
                        <a href="{{ candidacy.post_election.get_absolute_url }}">
                            {{ candidacy.post_election.friendly_name }}
                        </a>
                    </li>
                </ul>
            {% endfor %}
            {% comment %} Otherwise, display the featured candidacy, whether it is current or not. {% endcomment %}
        {% else %}
            <p>
                {{ object.intro|safe }}
            </p>
        {% endif %}

        {% for candidacy in object.future_candidacies %}
            {% if candidacy.deselected %}
                <p>
                    {% trans "This candidate has been deselected by their party, but their original party description will remain on the ballot paper." %}
                    <a href="{{ candidacy.deselected_source }}" target="_blank">{% trans "Learn more" %}.</a>
                </p>
            {% endif %}
        {% endfor %}


        {% if object.previous_party_count %}
            {% include "elections/includes/_previous_party_affiliations.html" with person=object candidacies=object.current_or_future_candidacies %}
        {% endif %}
    </div>

    <div class="ds-candidate-image">
        {% if object.photo_url %}
            <img src="{{ object.photo_url }}" alt="{% blocktrans trimmed with person=object.name %}profile photo of {{ person }}{% endblocktrans %}">
        {% else %}
            <img src="{% static '/people/images/blank-avatar.png' %}" alt="Blank Head icons created by Freepik - Flaticon" style="background-color: #ddd;">
        {% endif %}
    </div>
</section>
