{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
    {% trans "UK Prospective Parliamentary Candidates" %}
{% endblock %}

{% block og_description_content %}{% trans "The next UK parliamentary general election is due to occur no later than January 2025, and political parties are currently selecting their candidates for each House of Commons constituency" %}.{% endblock og_description_content %}
{% block twitter_description_content %}{% trans "The next UK parliamentary general election is due to occur no later than January 2025, and political parties are currently selecting their candidates for each House of Commons constituency" %}.{% endblock twitter_description_content %}

{% block og_title_content %}{% trans "UK Prospective Parliamentary Candidates" %}{% endblock %}
{% block twitter_title_content %}{% trans "UK Prospective Parliamentary Candidates" %}{% endblock %}

{% block content %}
    <h1>{% trans "UK Prospective Parliamentary&nbsp;Candidates" %}</h1>

    <p>{% blocktrans trimmed %}The next UK parliamentary general election is due to occur no later than January 2025, and political parties are currently selecting their candidates for each House of Commons constituency{% endblocktrans %}.</p>

    <p>{% blocktrans trimmed %}Democracy Club's volunteers are collecting information on each candidate as they are announced. The live tables below display all the candidates we are aware of. Where a candidate has a recent electoral history, this is displayed on their Democracy Club profile.{% endblocktrans %}
    </p>

    <p>{% trans "Spotted an error? Think we’ve missed a candidate? Get in touch:"%} <a href="mailto:hello@democracyclub.org.uk">hello@democracyclub.org.uk</a></p>

    <details class="ds-details ds-stack-smaller">
        <summary>{% trans "More information about the general election" %}</summary>

        <p>{% blocktrans trimmed %}There are 650 constituencies in the House of Commons, and each constituency elects one Member of Parliament
            (MP). Following a recent redistribution, in the next election England will elect 543 MPs, Scotland will
            elect 57, Wales will elect 32, and Northern Ireland will elect 18."{% endblocktrans %}</p>

        <h2 class="ds-h4">{% trans "Boundary changes" %}</h2>
        <p>{% trans "The next general election will be held on new constituency boundaries. See the" %}
            <a href="https://commonslibrary.parliament.uk/boundary-review-2023-which-seats-will-change/">
                {% trans "website of the House of Commons Library" %}
            </a> {% trans "to find out what is happening to your constituency." %}</p>

        <h2 class="ds-h4">{% trans "MPs standing down" %}</h2>
        <p>{% trans "Some existing Members of Parliament have announced they will not be standing at the next election." %}
            <a href="https://www.instituteforgovernment.org.uk/explainer/mps-standing-down-next-election">
                {% trans "Visit the website of the Institute for Government for a full list" %}</a>.</p>

        <h2 class="ds-h4">{% trans "Timetable" %}</h2>
        <p>{% blocktrans trimmed with election_timetable_url="https://election-timetable.democracyclub.org.uk/" %}
            Democracy Club's <a href="{{election_timetable_url}}">general election timetable generator</a>
            provides an election timetable for any given date
        {% endblocktrans %}
        </p>
    </details>


    <h2>{% trans "The data" %}</h2>

    <p>
        {% url "ppc_2024:details" as details_url %}
        {% blocktrans trimmed %}
            The full list of prospective parliamentary candidates is available as a <a href="{{ details_url }}">browsable table</a> or a <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRhZbBrU2AdJDYyBZViMs6irvH7zVUiZm2rDoADw5B18drp6hILJBr-duSXCmHJ18SmYWm3iq0bbfoR/pub?gid=0&single=true&output=csv">CSV</a>.
        {% endblocktrans %}
    </p>
    <p><b>
        {% blocktrans %}
            Please note this data is now archived. For the latest data, please refer to the
            <a href="https://whocanivotefor.co.uk/elections/parl.2024-07-04/uk-parliament-elections/">2024 General Election page</a>.
        {% endblocktrans %}
    </b></p>


    {% if by_region %}
        <div class="ds-table">
            <table>
                <caption>{% trans "Number of candidates announced per UK region or nation" %}</caption>
                <tr>
                    <th>{% trans "Region / nation" %}</th>
                    <th>{% trans "Candidates" %}</th>
                    <th>{% trans "Total seats in region" %}</th>
                </tr>
                {% for region_name, data in by_region.items %}
                    <tr>
                        <td><a href="{% url "ppc_2024:details" %}?region={{ region_name|urlencode }}">{{ region_name }}</a></td>
                        <td>{{ data.candidate_count|default:0 }}</td>
                        <td>{{ data.total_seats }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>Totals</td>
                    <td>{{ person_count }}</td>
                    <td>650</td>
                </tr>
            </table>
        </div>
    {% endif %}

    {% if by_party %}
        <div class="ds-table">
            <table>
                <caption>{% trans "Candidate selections by political party" %}</caption>
                <tr>
                    <th>{% trans "Party" %}</th>
                    <th>{% trans "Candidates" %}</th>
                </tr>
                {% for party in by_party %}
                    <tr>
                        <td><a href="{% url "ppc_2024:details" %}?party_name={{ party.name|urlencode }}">{{ party.name }}</a></td>
                        <td>{{ party.candidate_count }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>{% trans "Total" %}</td>
                    <td>{{ person_count }}</td>
                </tr>
            </table>
        </div>
    {% endif %}


    <h2>{% trans "Support our work" %}</h2>
    <p>{% trans "Democracy Club is a non-profit Community Interest Company. If you've found this resource useful, please consider a donation" %}.</p>

    <p><a href="https://www.paypal.com/biz/fund?id=EX33MCYQ9UUDJ" class="ds-cta">{% trans "Donate now" %}</a></p>


{% endblock %}
