{% extends "base.html" %}

{% load markdown_filter %}
{% load humanize %}
{% load i18n %}

{% block og_image %}{% if object.emblem_url %}{{ CANONICAL_URL }}{{ object.emblem_url }}{% endif %}{% endblock og_image %}
{% block og_title_content %}{{ object.party_name }}{% endblock og_title_content %}
{% block page_title %}{{ object.party_name }}{% endblock page_title %}
{% block og_description_content %}{{ object.personpost_set.all.count }} candidates{% endblock og_description_content %}


{% block content %}
    <nav class="ds-breadcrumbs ds-stack" aria-label="You are here: {{ request.path }}">
        <ol>
            <li>
                <a href="{% url 'home_view' %}">{% trans "Home" %}</a>
            </li>
            <li>
                <a href="{% url 'parties_view' %}">{% trans "Parties" %}</a>
            </li>
            <li>{% blocktrans trimmed with party_name=object.party_name %}Current: {{ party_name }}{% endblocktrans %}</li>
        </ol>
    </nav>

    <div class="ds-stack-smaller">
        {% if party.emblem_url %}
            <div class="ds-with-sidebar">
                <div>
                    <div class="ds-sidebar" style="flex-basis: 10rem">
                        <img src="{{ party.emblem_url }}" alt="{{ party_name }} emblem">
                    </div>
                    <div class="ds-not-sidebar">
                        <h2>{{ party.party_name }}</h2>
                        <p>{% blocktrans with num_candidates=object.personpost_set.all.count|intcomma pluralize_candidates=object.personpost_set.all.count|pluralize %}{{ num_candidates }} candidate{{ pluralize_candidates }} in our database.{% endblocktrans %}</p>
                        {% if object.description %}
                            {{ object.description|markdown }}
                        {% endif %}
                        {% if object.wikipedia_url %}
                            <p><a href="{{ object.wikipedia_url }}">{% trans "Read more on wikipedia" %}</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div>
                <h2>{{ object.format_name }}</h2>
                <p>{% blocktrans trimmed with num_candidates=object.personpost_set.all.count|intcomma pluralize_candidates=object.personpost_set.all.count|pluralize %}{{ num_candidates }} candidate{{ pluralize_candidates }} in our database.{% endblocktrans %}</p>
                {% if object.description %}
                    {{ object.description|markdown }}
                {% endif %}
                {% if object.wikipedia_url %}
                    <p><a href="{{ object.wikipedia_url }}">{% trans "Read more on wikipedia" %}</a></p>
                {% endif %}
                {% if object.is_deregistered %}
                    <p>{% blocktrans with dereg_date=object.date_deregistered %}This political party was deregistered on {{ dereg_date }}, and can no longer field candidates. {% endblocktrans %}</p>
                {% endif %}
            </div>
        {% endif %}
        {% if object.is_joint_party %}
            {% with sub_parties=object.get_joint_party_sub_parties %}
                <div class="ds-card">
                    <div class="ds-card-body">
                        <h3>
                            <span aria-hidden="true">🤝</span>
                            {% trans "Joint description" %}
                        </h3>
                        <p>
                            {% blocktrans with joint_name=object.party_name first_name=sub_parties.0.party_name second_name=sub_parties.1.party_name %}
                                "{{ joint_name }}" is a joint description of the {{ first_name }} and the {{ second_name }}
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>
                <ul>
                    {% for sub_party in sub_parties %}
                        <li>
                            <a href="{{ sub_party.get_party_register_url }}">{% blocktrans with party_name=sub_party.party_name %}View the entry for the {{ party_name }} in the register of political parties.{% endblocktrans %}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endwith %}
        {% else %}
            {% if object.ec_id != object.party_id %}
                <!-- Non-party parties will have an EC ID matching their party_id -->
                <ul>
                    <li>
                        <a href="{{ object.get_party_register_url }}">{% trans "View this party's entry in the register of political parties." %}</a>
                    </li>
                </ul>
            {% endif %}
        {% endif %}



    </div>


{% endblock content %}
