[Unit]
Description=WCIVF gunicorn daemon
After=network.target
[Service]
User=wcivf
Group=wcivf
WorkingDirectory=/var/www/wcivf/code/
ExecStart=/bin/bash -c 'PATH=/var/www/wcivf/venv/bin/:$PATH exec /var/www/wcivf/venv/bin/gunicorn \
  --access-logfile - \
  --workers 3 \
  --bind 0.0.0.0:8000 \
  --worker-class=gevent \
  wcivf.wsgi:application'
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
[Install]
WantedBy=multi-user.target