{% extends "base.html" %}
{% load i18n %}
{% block page_title %}{% trans "UK Elections" %}{% endblock page_title %}
{% block og_title %}{% trans "UK Elections" %}{% endblock og_title %}
{% block og_description %}{% trans "All Elections in the UK" %}{% endblock og_description %}


{% block content %}

    {% include 'elections/includes/_elections_breadcrumbs.html' %}
    <noscript>Enable javascript to use election filtering funcationality.</noscript>
    <aside class="ds-filter" aria-labelledby="filter-label">
        <div class="ds-filter-cluster" id="election-filters">
            <ul aria-labelledby="adv-filter-label-3">
                <li id="adv-filter-label-3" class="ds-filter-label" aria-hidden="true">Election type:</li>
                <li class="btn"><a id="all" href="?election_type=all" aria-current="true">All</a></li>
                <li class="btn"><a id="europarl" href="?election_type=europarl">European Parliament</a></li>
                <li class="btn"><a id="local" href="??election_type=local">Local</a></li>
                <li class="btn"><a id="gla" href="?election_type=gla">London Assembly</a></li>
                <li class="btn"><a id="mayor" href="??election_type=mayor">Mayoral</a></li>
                <li class="btn"><a id="nia" href="?election_type=nia">Northern Irish Assembly</a></li>
                <li class="btn"><a id="pcc" href="?election_type=pcc">Police &amp; Crime Commissioner</a></li>
                <li class="btn"><a id="sp" href="?election_type=sp">Scottish Parliament</a></li>
                <li class="btn"><a id="senedd" href="?election_type=senedd">Senedd Cymru</a></li>
                <li class="btn"><a id="parl" href="?election_type=parl" href="?parl">UK Parliament</a></li>
                <li class="btn"><a id="ref" href="?election_type=ref">Referendum</a></li>
            </ul>
        </div>
    </aside>

    <div class="ds-stack-smaller">
        <div class="ds-card">
            <div class="ds-card-body">
                <h1>{% trans "All Elections" %}</h1>
                <p>{% trans "This is a list of upcoming elections, and all elections Democracy Club has covered since 2010. The local election database was founded in 2016." %}</p>
                {% include "elections/includes/_election_list.html" with elections=current_or_future_elections %}
                {% include "elections/includes/_election_list.html" with elections=past_elections %}
            </div>
        </div>

        {% include "elections/includes/_postcode_search_form.html" %}

        {% include "feedback/feedback_form.html" %}
    </div>

    <script type="text/javascript">
        var filter_box = document.getElementById('election-filters');
        var all_filter = document.getElementById('all');
        var all = document.querySelectorAll('#election-urls ul li a');
        var date_grouper = document.querySelectorAll('.grouper-date')

        all_filter.addEventListener("click", function(e){
            e.preventDefault();
            for (var i = 0; i < all.length; i++) {
                all[i].style.display = "block";
            }
            date_grouper.forEach(function(date){
                date.style.display = "block";
            });
            setAriaAttribute(e);
        });


        filter_box.addEventListener("click", function (e) {
            e.preventDefault();
            var clickedId = e.target.id;
            var election_type = "/" + clickedId + ".";

            for (var i = 0; i < all.length; i++) {
                if (clickedId == "senedd" && all[i].href.includes("/naw.")) {
                    all[i].style.display = "block";
                } else if (all[i].href.includes(election_type)) {
                    all[i].style.display = "block";
                } else {
                    all[i].style.display = "none";
                }
            }
            setAriaAttribute(e);
            checkHideDate()
        });

        function setAriaAttribute(e) {
            var election_filters = document.querySelectorAll('#election-filters ul li a');
            var current_filter = e.target;
            current_filter.setAttribute("aria-current", "true");
            election_filters.forEach(function(filter){
                if (filter !== current_filter) {
                    filter.removeAttribute("aria-current");
                }
            });
        }

        function checkHideDate() {
            for (var i = 0; i < date_grouper.length; i++) {
                var hidden_urls = [];
                var visible_urls = [];
                var date_grouper_children_urls = date_grouper[i].nextElementSibling.querySelectorAll('a');
                for (var j = 0; j < date_grouper_children_urls.length; j++) {
                    if (date_grouper_children_urls[j].style.display == "none") {
                        date_grouper[i].style.display = "none";
                        hidden_urls.push(date_grouper_children_urls[j]);
                    } else {
                        date_grouper[i].style.display = "block";
                        visible_urls.push(date_grouper_children_urls[j]);
                    }
                }
                if (visible_urls.length) {
                    date_grouper[i].style.display = "block";
                }
            }
        }
    </script>

{% endblock content %}
