{% extends "base.html" %}
{% load i18n %}
{% block page_title %}{% trans "UK Elections" %}{% endblock page_title %}
{% block og_title %}{% trans "UK Elections" %}{% endblock og_title %}
{% block og_description %}{% trans "All Elections in the UK" %}{% endblock og_description %}


{% block content %}

    {% include 'elections/includes/_elections_breadcrumbs.html' %}
    <aside class="ds-filter" aria-labelledby="filter-label">
        <div class="ds-filter-cluster" id="election-filters">
            <ul aria-labelledby="adv-filter-label-3">
                <li id="adv-filter-label-3" class="ds-filter-label" aria-hidden="true">Election type:</li>
                <li id="all" class="btn"><a href="?all" aria-current="true">All</a></li>
                <li id="europarl" class="btn"><a href="?europarl">European Parliament</a></li>
                <li id="local" class="btn"><a href="?local">Local</a></li>
                <li id="gla" class="btn"><a href="?gla">London Assembly</a></li>
                <li id="mayor" class="btn"><a href="?mayor">Mayoral</a></li>
                <li id="nia" class="btn"><a href="?nia">Northern Irish Assembly</a></li>
                <li id="pcc" class="btn"><a href="?pcc">Police &amp; Crime Commissioner</a></li>
                <li id="scottish" class="btn"><a href="?scottish">Scottish Parliament</a></li>
                <li id="senedd" class="btn"><a href="?senedd">Senedd Cymru</a></li>
                <li id="parl" class="btn"><a href="?parl" href="?parl">UK Parliament</a></li>
                <li id="ref" class="btn"><a href="?ref">Referendum</a></li>
            </ul>
        </div>
    </aside>

    <div class="ds-stack-smaller">
        <div class="ds-card">
            <div class="ds-card-body">
                <h1>{% trans "All Elections" %}</h1>
                <p>{% trans "This is a list of upcoming elections, and all elections Democracy Club has covered since 2010. The local election database was founded in 2016." %}</p>
                {% include "elections/includes/_election_list.html" with elections=current_or_future_elections %}
                {% include "elections/includes/_election_list.html" with elections=past_elections %}
            </div>
        </div>

        {% include "elections/includes/_postcode_search_form.html" %}

        {% include "feedback/feedback_form.html" %}
    </div>

    <script type="text/javascript">
        var all_filter = document.getElementById('all').firstChild;
        var all = document.querySelectorAll('#election-urls ul li a');
        var gla = [];
        var local = [];
        var parl = [];
        var pcc = [];
        var scottish = [];
        var senedd = [];
        var ref = [];
        var mayor = [];
        var europarl = [];
        var nia = [];
        var date_grouper = document.querySelectorAll('.grouper-date')

        document.getElementById("all").addEventListener("click", function(e){
            e.preventDefault();
            for (var i = 0; i < all.length; i++) {
                all[i].style.display = "block";
            }
            date_grouper.forEach(function(date){
                date.style.display = "block";
            });
            setAriaAttribute(e);
        });

        document.getElementById("gla").addEventListener("click", function(e){
            e.preventDefault();
            setAriaAttribute(e);
            var gla_filter = document.getElementById("gla").firstChild;
            all_filter.removeAttribute("aria-current");
            gla_filter.setAttribute("aria-current", "true");

            for (var i = 0; i < all.length; i++) {
                if (all[i].href.includes('gla.')) {
                    all[i].style.display = "block";
                    gla.push(all[i]);
                } else {
                    all[i].style.display = "none";
                }
            }
            checkHideDate()
        });

        document.getElementById("local").addEventListener("click", function(e){
            e.preventDefault();
            setAriaAttribute(e);

            var local_filter = document.getElementById("local").firstChild;
            all_filter.removeAttribute("aria-current");
            local_filter.setAttribute("aria-current", "true");

            for (var i = 0; i < all.length; i++) {
                if (all[i].href.includes('local.')) {
                    all[i].style.display = "block";
                    local.push(all[i]);
                } else {
                    all[i].style.display = "none";
                }
            }
            checkHideDate()
        });

        document.getElementById("parl").addEventListener("click", function(e){
            e.preventDefault();
            setAriaAttribute(e);

            var parl_filter = document.getElementById("parl").firstChild;
            all_filter.removeAttribute("aria-current");
            parl_filter.setAttribute("aria-current", "true");

            for (var i = 0; i < all.length; i++) {
                if (all[i].href.includes('/parl.')) {
                    all[i].style.display = "block";
                    parl.push(all[i]);
                } else {
                    all[i].style.display = "none";
                }
            }
            checkHideDate()
        });

        document.getElementById("pcc").addEventListener("click", function(e){
            e.preventDefault();
            setAriaAttribute(e);

            var pcc_filter = document.getElementById("pcc").firstChild;
            all_filter.removeAttribute("aria-current");
            pcc_filter.setAttribute("aria-current", "true");

            for (var i = 0; i < all.length; i++) {
                if (all[i].href.includes('pcc.')) {
                    all[i].style.display = "block";
                    pcc.push(all[i]);
                } else {
                    all[i].style.display = "none";
                }
            }
            checkHideDate()
        });

        document.getElementById("scottish").addEventListener("click", function(e){
            e.preventDefault();
            setAriaAttribute(e);

            var scottish_filter = document.getElementById("scottish").firstChild;
            all_filter.removeAttribute("aria-current");
            scottish_filter.setAttribute("aria-current", "true");

            for (var i = 0; i < all.length; i++) {
                if (all[i].href.includes('sp.')) {
                    all[i].style.display = "block";
                    scottish.push(all[i]);
                } else {
                    all[i].style.display = "none";
                }
            }
            checkHideDate()
        });

        document.getElementById("senedd").addEventListener("click", function(e){
            e.preventDefault();
            setAriaAttribute(e);

            for (var i = 0; i < all.length; i++) {
                if (all[i].href.includes('senedd.')) {
                    all[i].style.display = "block";
                    senedd.push(all[i]);
                } else if (all[i].href.includes('naw.')) {
                    all[i].style.display = "block";
                    senedd.push(all[i]);
                } else {
                    all[i].style.display = "none";
                }
            }
            checkHideDate()
        });

        document.getElementById("ref").addEventListener("click", function(e){
            e.preventDefault();
            setAriaAttribute(e);

            for (var i = 0; i < all.length; i++) {
                if (all[i].href.includes('ref.')) {
                    all[i].style.display = "block";
                    ref.push(all[i]);
                } else {
                    all[i].style.display = "none";
                }
            }
            checkHideDate()
        });

        document.getElementById("mayor").addEventListener("click", function(e){
            e.preventDefault();
            setAriaAttribute(e);

            for (var i = 0; i < all.length; i++) {
                if (all[i].href.includes('mayor.')) {
                    all[i].style.display = "block";
                    mayor.push(all[i]);
                } else {
                    all[i].style.display = "none";
                }
            }
            checkHideDate()
        });

        document.getElementById("europarl").addEventListener("click", function(e){
            e.preventDefault();
            setAriaAttribute(e);

            for (var i = 0; i < all.length; i++) {
                if (all[i].href.includes('europarl.')) {
                    all[i].style.display = "block";
                    europarl.push(all[i]);
                } else {
                    all[i].style.display = "none";
                }
            }
            checkHideDate()
        });

        document.getElementById("nia").addEventListener("click", function(e){
            e.preventDefault();
            setAriaAttribute(e);

            for (var i = 0; i < all.length; i++) {
                if (all[i].href.includes('nia.')) {
                    all[i].style.display = "block";
                    nia.push(all[i]);
                } else {
                    all[i].style.display = "none";
                }
            }
            checkHideDate()
        });



        function setAriaAttribute(e) {
            var election_filters = document.querySelectorAll('#election-filters ul li a');
            var current_filter = e.target;
            var other_election_filters = [];
            current_filter.setAttribute("aria-current", "true");
            election_filters.forEach(function(filter){
                if (filter !== current_filter) {
                    filter.removeAttribute("aria-current");
                }
            });
        }

        function checkHideDate() {
            for (var i = 0; i < date_grouper.length; i++) {
                var hidden_urls = [];
                var visible_urls = [];
                var date_grouper_children_urls = date_grouper[i].nextElementSibling.querySelectorAll('a');
                for (var j = 0; j < date_grouper_children_urls.length; j++) {
                    if (date_grouper_children_urls[j].style.display == "none") {
                        date_grouper[i].style.display = "none";
                        hidden_urls.push(date_grouper_children_urls[j]);
                    } else {
                        date_grouper[i].style.display = "block";
                        visible_urls.push(date_grouper_children_urls[j]);
                    }
                }
                if (visible_urls.length) {
                    date_grouper[i].style.display = "block";
                }
            }
        }
    </script>

{% endblock content %}
